<br>

<!-- #region Spinner component-->
<app-card>
  <app-card-header> Spinner Component </app-card-header>
  <app-card-body>
    Below is the spinner
    <app-spinner></app-spinner>
  </app-card-body>
</app-card>
<!-- #endregion -->

<!-- #region Card Component -->
<app-card>
  <app-card-header> Card Component </app-card-header>
  <app-card-body>
    This is the body section
  </app-card-body>
</app-card>
<!-- #endregion -->


<!-- #region Button Component -->
<app-card>
  <app-card-header> Button Component </app-card-header>
  <app-card-body>

    <div>

      <div class="row">
        <div class="col-sm-2">
          <button f-button [color]="'primary'">
            <i class="lar la-save"></i> Save
          </button>
        </div>
        <div class="col-sm-2">
          <button f-button [color]="'primary'" disabled>
            <i class="lar la-save"></i> Save
          </button>
        </div>
        <div class="col-sm-2">
          <button type="button" class="btn btn-outline-secondary">Secondary</button>
        </div>
      </div>

      <br>
      <br>

    </div>

  </app-card-body>
</app-card>
<!-- #endregion -->
