<p>dev-tools works!</p>
<br>
<br>
<br>

<!-- #region Spinner component-->
<app-card>
  <app-card-header> Spinner Component </app-card-header>
  <app-card-body>
    Below is the spinner
    <app-spinner></app-spinner>
  </app-card-body>
</app-card>
<!-- #endregion -->

<!-- #region Card Component -->
<app-card>
  <app-card-header> Card Component </app-card-header>
  <app-card-body>
    This is the body section
  </app-card-body>
</app-card>
<!-- #endregion -->


<!-- #region Button Component -->
<app-card>
  <app-card-header> Button Component </app-card-header>
  <app-card-body>
    <p>hi</p>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>

    <button type="button" class="btn btn-link">Link</button>

    <br>

    <button type="button" class="btn btn-outline-primary">Primary</button>
    <button type="button" class="btn btn-outline-secondary">Secondary</button>
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>

    <br>

    <button type="button" class="btn btn-primary btn-sm">Small button</button>
    <button type="button" class="btn btn-secondary btn-sm">Small button</button>
  </app-card-body>
</app-card>
<!-- #endregion -->
