<div class="main-home">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <span>
          <img class="statistic-bg-image" src="assets/images/bg-image/undraw_app_data_516s.svg" />
        </span>
      </div>
      <div class="col-md-6 vertical-center">
        <p class="size-large">
          “All the statistics in the world can't measure the warmth of a smile.”
          ― Chris Hart
        </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-6 vertical-center">
        <p class="size-large">
          Stay ahead of the Market
        </p>
      </div>
      <div class="col-md-6">
        <span>
          <img class="statistic-bg-image" src="assets/images/bg-image/undraw_statistic_chart_38b6.svg" />
        </span>
      </div>
    </div>



    <div class="row">
      <div class="col-md-4 vertical-center">
        <p class="size-large">
          An expert as said!
        </p>
      </div>
      <div class="col-md-4">
        <span>
          <img class="statistic-bg-image" src="assets/images/bg-image/undraw_feeling_proud_qne1.svg" />
        </span>
      </div>
      <div class="col-md-4 vertical-center">
        <p class="size-large">
          Place where you grow we grow
        </p>
      </div>
    </div>


  </div>
  <br>
  <br>
</div>
