<div class="main-header">
  <nav class="navbar  fixed-top  navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/home">
      <img class="organization-logo" src="assets/images/logo/falcon-wing-logo.png" />
      Travellers Hook
    </a>

    <div class="navbar-toggler">
      <i class="las la-stream" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
      </i>

      <i class="las la-ellipsis-v" data-toggle="collapse" data-target="#navbarheaderMenus"
        aria-controls="navbarheaderMenus" aria-expanded="false" aria-label="Toggle navbarheaderMenus navigation">
      </i>
    </div>


    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/payment" routerLinkActive="active">Payment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dev-tools" routerLinkActive="active">Dev tools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
        </li>
      </ul>
      <!-- <span class="navbar-text">
      Navbar text with an inline element
    </span> -->
    </div>

    <!-- #region Header extra menu -->
    <div class="collapse navbar-collapse" id="navbarheaderMenus">
      <div class="pull-right">
        <span class="navbar-text">
          Navbar text with an inline element
          <i class="las la-bell"></i>
        </span>
      </div>
    </div>
    <!-- #endregion -->

  </nav>
</div>
